option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: src.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: src.settings_production
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /media: media
